<section id="hero" class="s-hero target-section">
    <div class="s-hero__bg rellax" data-rellax-speed={-7} >
    </div>
    <div class="row s-hero__content">
      <div class="column">
        <div class="s-hero__content-about">

          <img class="s-hero__photo" src="assets/dany_corea.ico" alt="avatar" >
          

          <h2 >Dany Corea</h2>
          <h3>
            Hola Mundo! Soy <span>Desarrollador de Software</span>,
            apasionado por la tecnología, me encanta crear cosas desde el código. 
            <a class="smoothscroll" href="#about">
              desplazate hacía abajo
            </a>
      y descubre más 
            <a class="smoothscroll" href="#about">
              acerca de mí
      </a>
      .
    </h3>
          <div class="s-hero__content-social">


            <a href="https://github.com/djcorea" target="_blank" rel="noreferrer" >
              <i class="fab fa-github-square" aria-hidden="true"></i>
            </a>
            <a href="https://www.linkedin.com/in/dany-corea-6326b7177" target="_blank" rel="noreferrer" >
              <i class="fab fa-linkedin" aria-hidden="true" ></i>
            </a>
            <a href="https://www.youtube.com/channel/UCqje-h0nGdQHeiniSHwXXXw" target="_blank" rel="noreferrer" >
              <i class="fab fa-youtube-square" aria-hidden="true" ></i>
            </a>
            <a href="https://www.facebook.com/danyjavier.corea" target="_blank" rel="noreferrer" >
              <i class="fab fa-facebook-square" aria-hidden="true" ></i>
            </a>

            <a href="https://www.instagram.com/dany_corea/" target="_blank" rel="noreferrer" >
              <i class="fab fa-instagram" aria-hidden="true" ></i>
            </a>
          </div>
        </div>
      </div>
    </div>

  
  </section>